body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(121, 121, 121);
    color: #333;
}

.container, h1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    max-width: 100%;
    height: auto; 
    width: 150px;
    border-radius: 25px;
}

#acerca, #habilidades {
    background-color:  #C2C2C2;
}

.pro1, .pro2 {
    margin-right: 44pc;
    background-color: #C2C2C2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h2, h3 {
    color: #333;
}

p {
    line-height: 1.5;
}

section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.proyecto {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
